*.class
testinput*
*_paper*
trainingoutput
seqfile
brown*
*.xml
*.txt
*.mallet
_pycache_/
acl-arc/
fce-released-dataset/
mallet/
mallet-src/
MASC-3.0.0/
MALSAR/
stanford-corenlp/
*.p
view_crf.sh
verbTenseChanger.pl
VerbTagger*
annotate_pos.sh
run_crf.sh
train_crf.sh
mallet
classifier
mallet-src
miscdata
data
README_VerbChanger

